---
import DesktopNav from './DesktopNav.astro';
import { MobileNav } from './ui/Navigation';
import { treatmentsByCategory } from '../data/navigation';

const JANE_URL = 'https://laseradvantage.janeapp.com/';
---
<div class="hidden md:block">
  <DesktopNav />
</div>
<div class="md:hidden sticky top-0 z-40 bg-cream/85 backdrop-blur-md border-b border-hairline">
  <MobileNav
    client:visible
    treatmentsByCategory={treatmentsByCategory}
    bookHref={JANE_URL}
  />
</div>
